.friendItem {
    display: grid; /* Используем Grid вместо Flexbox */
    grid-template-rows: auto 1fr; /* Два ряда: изображение и имя */
    align-items: center; /* Центрируем содержимое по вертикали */
    justify-items: center; /* Центрируем содержимое по горизонтали */
    border-radius: 10px;
    padding: 5px;
    transition: background-color 0.3s;
}

.friendItem a {
    text-decoration: none;
}

.friendItem:hover {
    background-color: rgb(48, 47, 47);
}

.friendItem img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.friendName {
    color: white;
    font-size: 12px;
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 5px; /* Отступ сверху для имени */
    white-space: nowrap; /* Не переносить текст на новую строку */
    overflow: hidden; /* Скрыть излишек текста */
    text-overflow: ellipsis; /* Добавить троеточие при переполнении */
    max-width: 60px; /* Установите максимальную ширину */
}