.headerGrid {
  grid-area: h;
  background-color: rgb(36, 35, 35);
  border: 1px solid rgb(46, 44, 44);
  border-radius: 6px;
  width: 100%;
  height: auto; /* Автоматическая высота */
  margin: 0;
  padding: 0; /* Убираем ненужные внутренние отступы */
}