.image img{
    width: 35%;
    border-radius: 50%;
}

.name {
    margin-left: 38%;
    margin-bottom: -16%;
    letter-spacing: 0.075em;
    line-height: 200%;
}

.item :hover a {
    background-color: rgba(80, 75, 75, 0.345);
    border-radius: 5px;
}

.item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}