/* Стили для кнопки */
.button {
    background-color: #615b5c; 
    border: none; 
    color: white; 
    padding: 4px 8px; /* Уменьшен внутренний отступ кнопки */
    font-size: 12px; /* Уменьшен размер шрифта */
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

/* Стили для кнопки при наведении */
.button:hover {
    background-color: #7f7c7c; 
}