.button {
    background-color: #615b5c;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-left: 59px;
}

.button:hover {
    background-color: #7f7c7c;
}