/* Стили для кнопки */
.button {
    background-color: #615b5c; /* Фоновый цвет кнопки */
    border: none; /* Убираем стандартную границу кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 5px 10px; /* Внутренние отступы кнопки */
    font-size: 14px; /* Размер шрифта кнопки */
    border-radius: 5px; /* Скругление углов кнопки */
    cursor: pointer; /* Изменяем курсор на указатель при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона кнопки при наведении */
}

/* Стили для кнопки при наведении */
.button:hover {
    background-color: #7f7c7c; /* Темнее цвет кнопки при наведении */
}