/* Контейнер для информации о друге */
.friendInfo {
    display: grid; /* Используем CSS Grid для размещения дочерних элементов */
    grid-template-columns: 50px 1fr auto; /* Определяем три колонки: 50px для аватара, 1fr для информации, auto для кнопки удаления */
    grid-template-rows: auto; /* Высота строк автоматически подстраивается под содержимое */
    align-items: center; /* Вертикальное выравнивание элементов по центру строки */
    gap: 15px; /* Расстояние между элементами */
    padding: 10px; /* Внутренние отступы контейнера */
    border: 1px solid rgb(60, 58, 58); /* Рамка вокруг контейнера */
    border-radius: 8px; /* Скругление углов контейнера */
    background-color: rgb(36, 35, 35); /* Фоновый цвет контейнера */
    margin-bottom: 10px; /* Нижний отступ от других элементов */
}

/* Стили для аватара друга */
.friendPhotos {
    width: 50px; /* Ширина аватара */
    height: 50px; /* Высота аватара */
    border-radius: 50%; /* Округляем углы для создания круглого изображения */
    grid-column: 1; /* Аватар занимает первую колонку сетки */
}

/* Контейнер для имени и локации друга */
.friendDetails {
    display: grid; /* Используем CSS Grid внутри этого контейнера */
    grid-template-rows: auto auto; /* Две строки: одна для имени, одна для локации */
    grid-column: 2; /* Информация о друге занимает вторую колонку сетки */
}

/* Стили для имени друга */
.friendName {
    font-size: 16px; /* Размер шрифта имени */
    color: rgb(255, 255, 255); /* Цвет текста имени */
    text-decoration: none; /* Убираем подчеркивание текста */
    font-weight: bold; /* Жирное начертание текста */
}

/* Стили для ссылки с именем друга */
.friendName a {
    text-decoration: none; /* Убираем подчеркивание ссылки */
    color: inherit; /* Наследуем цвет от родительского элемента */
}

/* Стили для отображения локации друга */
.friendLocation {
    font-size: 14px; /* Размер шрифта локации */
    color: #6c757d; /* Цвет текста локации */
}