/* Контейнер для информации о друге */
.info {
    display: grid;
    grid-template-columns: 40px 1fr auto; /* Уменьшен размер аватара */
    grid-template-rows: auto;
    align-items: center;
    gap: 10px; /* Уменьшен отступ между элементами */
    padding: 5px; /* Уменьшен внутренний отступ */
    border: 1px solid rgb(60, 58, 58);
    border-radius: 8px;
    background-color: rgb(36, 35, 35);
    margin-bottom: 8px; /* Уменьшен нижний отступ */
}

/* Стили для аватара друга */
.photos {
    width: 40px; /* Уменьшен размер аватара */
    height: 40px; /* Уменьшен размер аватара */
    border-radius: 50%;
    grid-column: 1;
}

/* Стили для имени друга */
.name {
    font-size: 14px; /* Уменьшен размер шрифта */
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

/* Стили для отображения локации друга (если нужно) */
.location {
    font-size: 12px; /* Уменьшен размер шрифта */
    color: #6c757d;
}