/* Контейнер для информации о друге */
.info {
    display: grid;
    grid-template-columns: 40px 1fr auto; /* Размер аватара и прочие элементы */
    grid-template-rows: auto;
    align-items: center;
    gap: 10px; /* Отступ между элементами */
    padding: 5px; /* Внутренний отступ */
    border: 1px solid rgb(60, 58, 58);
    border-radius: 8px;
    background-color: rgb(36, 35, 35);
    margin: 0 auto; /* Центрирование контейнера */
    margin-bottom: 8px; /* Уменьшен нижний отступ */
    max-width: calc(100% - 300px); /* Уменьшение ширины на 150 пикселей с каждой стороны */
    margin-left: 55px; /* Негативный левый отступ для смещения влево */
    transition: background-color 0.3s; /* Плавный переход для фона */
}

/* Эффект при наведении */
.info:hover {
    background-color: rgb(48, 47, 47); /* Цвет при наведении */
}

/* Стили для аватара друга */
.photos {
    width: 40px; /* Уменьшен размер аватара */
    height: 40px; /* Уменьшен размер аватара */
    border-radius: 50%;
    grid-column: 1;
}

/* Стили для имени друга */
.name {
    font-size: 14px; /* Уменьшен размер шрифта */
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

/* Стили для отображения локации друга (если нужно) */
.location {
    font-size: 12px; /* Уменьшен размер шрифта */
    color: #6c757d;
}
