.header {
  grid-area: h;
  background-color: rgb(36, 35, 35);
  border: 1px solid rgb(46, 44, 44);
  border-radius: 2px;
  font-size: 22.5px;
  text-align: left;
  color: white;
}

.header img {
  width: 35px;
}

.buttonSearch {
  background-color: rgb(53, 52, 52);
  color: rgb(155, 159, 162);
  width: 158px;
  border: 0px solid;
  border-radius: 7px;
  height: 29px;
  text-align: left;
  font-size: 15px;
}