body,
html,
header {
  background-color: rgb(26, 25, 25);
}

.nav {
  grid-area: n;
  background-color: rgba(26, 25, 25, 0);
  padding: 5%;
  margin-left: 80%;
}

.nav .item {
  display: flex;
  align-items: center;
  padding: 11px;
  height: 10px;
  font-size: 13.5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav .item:hover {
  background-color: rgba(67, 67, 68, 0.423);
  border-radius: 5px;
}

.iconText {
  display: flex;
  align-items: center;
  gap: 10px; /* Отступ между иконкой и текстом */
}

.iconText img {
  width: 18.5px;
  margin-bottom: -5px;
}

.nav .item span {
  color: rgb(255, 255, 255);
  text-decoration: none;
}