body,
html,
header {
  background-color: rgb(26, 25, 25);
}

.nav {
  grid-area: n;
  background-color: rgba(26, 25, 25, 0);
  padding: 5%;
  margin-left: auto;
}

.nav .item {
  height: 40px;
  font-size: 14.1px;
}

.nav .item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nav .item :hover {
  background-color: rgba(67, 67, 68, 0.423);
}

.item img {
  width: 22.5px;
  margin-bottom: -5px;
}