.dialogsandMessages {
    display: grid;
    grid-template-columns: 2fr 10fr;
    column-gap: 80px;

    border: 1px solid rgb(60, 58, 58);
    border-radius: 14px;
    background-color: rgb(36, 35, 35);
    margin-left: 4.5%;
    width: 72.5%;
}