.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 1%;
  grid-row-gap: 19px;
}

.app-wrapper-content {
  color: white;
  border-radius: 19px;
  grid-area: c;
}