.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    column-gap: 80px;
}

.dialogs .dialog {
    font-size: 19px;
    line-height: 1.6;
    letter-spacing: 0.075em;
    font-style: normal;
}

.dialogsandMessages {
    border: 1px solid rgb(60, 58, 58);
    border-radius: 14px;
    background-color: rgb(36, 35, 35);
    color: rgb(213, 213, 215);
}

.dialogsItem a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.dialogsItem :hover a {
    background-color: rgba(80, 75, 75, 0.345);
    border-radius: 5px;
  
}

.dialogElementName {
    text-align: left;
    margin-left: 32%;
    font-size: medium;
}

.dialogElementImage {
    width: 30%;
    margin-top: -12%;
}